.postingBox {
    margin-top: -300px;
    display:flex;
    justify-content: right;
    align-items: right;
}
.priceBox{
    padding-left: 40px;
}
.itemDetails {

    background-color: lightgrey;
    width: 600px;
    height: 575px;
    padding: 50px;
    margin: 20px;
  }

.itemDesc{
    padding-left: 40px;
}



