.HighBox{
    padding-top: 10px;
}

.HighlightBox{
    background-color: lightgrey;
    width: 98%;
    height: 350px;
    padding: 50px;
    margin: 20px;
  }


.categories {
    padding-top: 30px;
    font-size: 30px;
    text-align: center;
}

.categoriesDescription{
    text-align: center;
}

.centerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
  }

.flat-button1 {
    color: black;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid black;
    margin-top: 25px;
    float: left;
    white-space: nowrap;
}

.HomeGoods {
    text-align: left;
    padding-left: 160px;
}
.HomeGoodsBox {
    background-color: lightgrey;
    width: 400px;
    height: 275px;
    padding: 50px;
    margin: 20px;
  }

.Technology{
    text-align: center;
}

.TechnologyBox {
    background-color: lightgrey;
    width: 400px;
    height: 275px;
    padding: 50px;
    margin: 20px;
  }
  .centerTechBox {
    margin-top: -339px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.Books{
    text-align: right;
    padding-right: 200px;
}

.BooksBox {
    background-color: lightgrey;
    width: 400px;
    height: 275px;
    padding: 50px;
    margin: 20px;
  }
  .centerBooksBox {
    margin-top: -339px;
    display: flex;
    justify-content: right;
    align-items: right;
  }

.posts {
    padding-top: 50px;
    font-size: 30px;
    text-align: center;
}

.postsDescription{
    text-align: center;
}

.auctions {
    padding-top: 50px;
    font-size: 30px;
    text-align: center;
}

.auctionsDescription{
    text-align: center;
}


